* {
    padding: 0;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  section {
    padding: 4rem 0 2rem;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1068px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
    
  }
  
  #menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
    display: none;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: black;
  }
  
  .logo span {
    color: blue;
  }
  
  .navbar {
    display: flex;
    column-gap: 2rem;
  }
  
  .navbar a {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover,
  .navbar .active {
    color: blueviolet;
    border-bottom: 3px solid blue;
  }
  
  #search-icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
  }
  
  .search-box {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: #f9f9f9;
    transition: clip-path 0.3s ease;
  }
  
  .search-box.active {
    display: block;
    clip-path: circle(144% at 100% 0%);
  }
  
  .search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
  }
  
  
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #c3e1e7;
  }
  
  .content-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .content-left img {
    width: 200%;
    max-width: 600px;
    height: auto;
    /* border-radius: 50%; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .content-left img:hover {
    transform: scale(1.05);
  }
  
  .content-right {
    flex: 1;
    padding: 0 40px;
    text-align: center;
  }
  
  .content-right h3 {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .content-right p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
  }
  
  .rectangle img {
    width: 350px;
    height: 400px;
    /* border-radius: 50%; */
    margin-bottom: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    }
    .rectangle img:hover {
    transform: scale(1.1);
    filter: brightness(80%);
    }

  footer {
    background-color: #1CA9C9;
    color: white;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 30px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .social-links a {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #fd052f;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
  }
  